body {
    font-family: "Inter", sans-serif;
    font-weight:300;
}
a, a:hover{
    text-decoration: none !important;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{

}
.header{
    background: #004aad;
    /* min-height: 100vh; */
    padding-bottom: 60px;
}
.header__top{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.header__logo img{
    width: 100px;
    height: 42xp;
}
.btn-white{
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    background: #fff;
    position: relative;
    color: #004aad;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 20px;
    width: 180px;
    transition: all 0.2s linear 0s;
}
.btn-white::before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.btn-white:hover{
    text-indent: -20px;
}
.btn-white:hover::before{
    opacity: 1;
    text-indent: 0px;
}
.header__content{
    margin-top: 60px;
    text-align: center;
}
.header__title{
    font-weight: 600;
    color: #ffbd59;
    font-size: 45px;
}
.header__desc{
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    max-width: 690px;
}
.header__img{
    margin: auto;
    margin-top: 55px;
    max-width: 650px;
}
.header__img img{
    border-radius: 10px;
}
.about{
    background: #f2f2f2;
    padding: 30px 0;
}
.about__title{
    font-weight: 600;
    color: #004aad;
    font-size: 36px;
    text-align: center;
}
.about__desc{
    color: #545454;
    text-align: center;
    max-width: 680px;
    margin: auto;
    margin-top: 25px;
}
.card{
    max-width: 340px;
    height: 100%;
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 20px;
}
.card__img{
    max-width: 205px;
    margin: auto;
}
.card__title{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #38b07a;
    text-align: center;
}
.card__desc{
    margin-top: 20px;
    color: #545454;
    font-size: 14px;
    text-align: center;
}
.card__footer{
    margin-top: 35px;
}
.card__btn{
    background: #cae8f8;
    color: #004aad;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    width: 100%;
}
.mt-40px{
    margin-top: 40px;
}
.feature{
    background: #004aad;
    padding: 50px 15px;
}
.feature__title{
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}
.feature__desc{
    color: #d9d9d9;
    font-size: 18px;
    max-width: 680px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.action{
    background: #fff;
    padding:40px 0;
}
.action__title{
    font-size: 36px;
    font-weight:600;
    text-align: center;
}
.action__img{
}
.action__desc{
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.action__content{
    margin-top: 50px;
}
.action__list{
    margin-top: 10px;
    margin-left: 30px;
}
@media screen and (max-width: 768px) {
    .action__list{
        margin-left: 0px;
    }
}
.action__item{
    display: flex;
    margin-bottom: 30px;
}
.action__item-icon{
    width: 28px;
    margin-right: 20px;
    flex: none;
}
.action__item-title{
    color: #002a54;
    font-size: 18px;
    font-weight: 600;
}
.action__item-desc{
    font-size: 16px;
    max-width: 320px;
}
.action-bg-gray{
    background: #f2f2f2;
}
.action-bg-gray .action__title{
    color: #002a54;
}
.action-bg-gray .action__desc{
    color: #000;
}
.solution{
    background: url('https://cdn.jsdelivr.net/gh/azota889/storage_public/azota_assets/images/ebank/partner/structure.webp');
    padding: 70px 10px;
}
.solution__title{
    font-size: 24px;
    font-weight:600;
    color: #002a54;
}
.solution__desc{
    margin-top: 15px;
    color: #000;
    font-size: 16px;
}
.partner{
    padding: 50px 10px;
}
.partner__title{
    font-size: 36px;
    color: #002a54;
    text-align: center;
    font-weight: 600;
}
.partner__desc{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}
.partner__content{
    margin-top: 10px;
}
.partner__img-circle{
    margin: auto;
    margin-top: 50px;
    max-width: 127px;
}
.partner__img-circle img{
    width: 127px;
}
.partner__img-rect {
    margin: auto;
    margin-top: 50px;
    max-width: 300px;
}
.partner__img-rect img{
    height: 80px;
    margin: auto;
    display: block;
}
.partner__footer-btn{
    background: #004aad;
    color: #fff !important;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}
.partner__footer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .partner__footer{
        flex-direction: column;
    }
    .partner__footer-btn{
        margin-top: 20px;
    }
}
.partner__footer-title{
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 0;
}
#footer {
    background: #f2f2f2;
    height: auto;
}

.line-footer {
    border-top: 1px solid #cccccc;
    width: 100%;
}

.language-text {
    font-size: 14px;
    color: #565656 !important;
    cursor: pointer;
}

.connect-text {
    font-size: 14px;
    color: #565656;
}

.justify-icon {
    justify-content: end;
}

b {
    font-weight: 600;
}

@media screen and (max-width: 768px) {

    .justify-icon,
    .justify-text {
        justify-content: center;
    }

    .width-100 {
        width: 100%;
    }

    .display-block {
        display: unset !important;
    }

    .margin-left-text {
        margin-left: 1rem;
    }

    .nav-text {
        padding-bottom: 5px;
    }
}