<!doctype html>
<html lang="en">

<head>
    <title>Luyện đề</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/azota889/storage_public/azota_assets/templatesc/templateExample/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/azota889/storage_public/azota_assets/templatesc/common/editStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type='text/javascript' src='https://cdn.jsdelivr.net/gh/azota889/storage_public/azota_assets/templatesc/common/jquery3.5.1.js' id='jquery-core-js'></script>

    <link  href="https://cdn.jsdelivr.net/gh/azota889/storage_public/azota_assets/templatesc/common/cropper.css" rel="stylesheet">
    <script  src="https://cdn.jsdelivr.net/gh/azota889/storage_public/azota_assets/templatesc/common/cropper.js" type='text/javascript'></script>

    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>

<body>
  <div id="tpl-cropper-modal" style="display: none;">
    <div class="alert alert-warning" role="alert" style="display: none;">Upload error</div>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Crop the image!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" control-id="ControlID-1">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img id="cropper-image" class="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" control-id="ControlID-2">Cancel</button>
            <button type="button" class="btn btn-primary" id="crop-button" control-id="ControlID-3">Crop</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <span class="navbar-brand __tpl_website_logo">
              Hệ Thống Thi Online
            </span>
            <div class="d-flex">
                <a id="__tpl_button_login" target="_blank" href="#__AZOTA_LOGIN_LINK" class="btn button-login mr-2">Đăng nhập</a>
                <a id="__tpl_button_register" target="_blank" href="#__AZOTA_REGISTER_LINK" class="btn button-register">Đăng ký</a>
            </div>
        </div>
    </nav>
    <section class="section-one">
        <img class="changeAble section_img" src="https://5002373-s3user.cloudstorage.com.vn/viwewiin/storage_public/azota_assets/templates/templateExample/img/earth.jpeg" alt="">
        <div class="container padding-64">
            <div class="box py-5 mx-auto">
                <h1 class="title-fontsize pb-4">HỆ THỐNG LUYỆN ĐỀ, THI THỬ ONLINE</h1>
                <span class="description-text">Website do thầy tự biên soạn các bộ đề, câu hỏi giúp các em luyện tập
                    theo chuyên đề dễ dàng, nâng
                    cao năng lực để đạt kết quả cao nhất.</span>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="container py-5">
            <div class="box-two">
                <h2 class="title-text pb-3">Danh sách đề thi thử THPT 2021</h2>
                <span class="description-text">Mô tả thông tin có giá trị, những điểm nổi bật, lời giới thiệu hấp dẫn về sản
                    phẩm dịch vụ, giúp người xem dễ dàng tìm thấy nội dung của bạn trong kết quả tìm kiếm.</span>
            </div>
            <div id="__tpl_exam_iframe">
              <img src="https://5002373-s3user.cloudstorage.com.vn/viwewiin/storage_public/azota_assets/templates/templateExample/img/demo_test_iframe.png" alt="">
            </div>
        </div>
    </section>
    <footer>
        <div class="container py-5">
            <div class="box-footer">
                <div class="row py-5">
                    <div class="col-12 py-2">
                        <h4 class="pb-3">
                            AZOTA.VN - TẠO ĐỀ ONLINE TRONG 2 PHÚT
                        </h4>
                        <p><i class="fas fa-home"></i>&nbsp; <span>Địa chỉ: 19 Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</span>
                        </p>
                    </div>
                    <div class="ladi-line">
                        <div class="ladi-line-container"></div>
                    </div>
                </div>
                <div class="line">
                    <div class="line-container"></div>
                </div>
            </div>
            <div class="text-center pt-3">
                <span>
                    ©2020 Allrights reserved azota.vn
                </span>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://5002373-s3user.cloudstorage.com.vn/viwewiin/storage_public/azota_assets/templates/common/iframe_processing.js'></script>
</body>

</html>
