html {
    -ms-touch-action: none;
    height: 100%;
    -webkit-user-select: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    overflow: hidden;
    background-color: white;
}
div::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: gray;

}

.ussetting_ava{
    text-align: center;
}
.full-width {
    width: 100%;
}
.mt-10{
    margin-top: 10px;
}
.mt-12{
    margin-top: 12px;
}
.mt-20{
    margin-top: 20px;
}
.mt-8{
    margin-top: 8px;
}
.ml-4{
    margin-left: 4px;
}
.bg-gray{
    background-color: #CCCCCC;
    
}
.d-flex-vertical{
    display: flex;
    align-items: center;
}

.border-circle {
    border-radius: 50%;
}
.d-none{
    display:none;
}
.d-block{
    display:block;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.text-center{
    text-align: center;
}

.border-gray{
    border:2px solid #CCCCCC;
}
.ic_bt{
    cursor: pointer;
}

.container_app{
    width: 100%;
    height: 100%;
    display:block;
}
.popup{
    position: absolute;
    max-width: 400px;
}
.row{
    margin-bottom: 5px;
}
#app{
    position: absolute;
    transform-origin: 0 0;
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
}
#user_info{
    position: absolute;
    background-color:white;
    display: none;
}
.user_info_media{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.user_info_media canvas{
    position: absolute;
    transform-origin: 0% 0%;
    border-radius: 15px;
}
.user_info_content{
    position: absolute;
}
.user_info_button{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -55px;
    margin-left: 40px;
}
.user_info_button_mobile{
    display: block;
    position: fixed;
    bottom: 20px;

}
.bt_capture_ava {
    margin:auto;
}
.bt_edit_ava{
    margin:auto;
}
#chat{
    position: absolute;
    display: none;
}
#chat_content{
    position: absolute;
    width:100%;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#chat_input{
    position: absolute;
    bottom: 2px;
    width:100%;
    height:68px;
    padding: 5px;
    padding-right: 46px;
}
#chat_input_txt{
    width:100%;
    height: 100%;
}
.emojionearea .emojionearea-editor{
    min-height: 4em;
    max-height: 4em;
}
.chat_bt_send{
    position: absolute;
    bottom: 22px;
    right: 12px;
    color: #009688;
    cursor: pointer;
    font-size: 25px;
}
.chat_item{
    position: relative;
    display: flex;
    font-size: 13px;
}
.emojione{
    width: 20px;
    height: 20px;
    margin-left: 4px;
    vertical-align: middle;
}
.chat_text_count{
    position: absolute;
    bottom: 71px;
    right: 48px;
    color: gray;
    font-size: 10px;
    display: none;
}
.chat_item_img{
    width: 27px;
    height: 27px;
    min-width: 27px;
    margin-right: 5px;
}

#myboard{
    position: absolute;
    background-color: #1caba0;
    display: none;
    overflow: hidden;
}
#myvideo_canvas{
    pointer-events: none;
}
#mycanvascont{
    /*pointer-events: none;*/
}
#hostboard{
    position: absolute;
    background-color: lightgray;
    display: none;
    overflow: hidden;
}
.hostboard_info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 17px;
    font-weight: bolder;
}
.board_content{
    position: absolute;
    transform-origin: 0% 0%;
    top:0px;
    left:0px;
}
.popup_start_stream{
    display: none;
}

#mydocam{
    position: absolute;
    top:0px;
    right:0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#img_docam{
    position: absolute;
    top:0px;
    right:0px;

}

#userlist{
    position: absolute;
    display: none;
}
.userlist_container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 100px;
    padding-top: 23px;
}
.userlist_item{
    position: relative;
    float: left;
    text-align: center;
    width: 80px;
    margin: 5px;
    margin-top:-6px;
    cursor: pointer;
}
.userlist_item_bt{
    position: absolute;
    right:0px;
   /* display: none;*/
   z-index: 99;
} 
.userlist_item_ava{
    position: relative;
    width:56px;
    height:56px;
    margin: auto;

}
.userlist_item_name{
    position: relative;
    margin-top: 9px;
   /* font-weight: bold;*/
}
.userlist_item_status_online{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    right: 5px;
    bottom: 23px;
    background-color: white;

}
.circle_status_online{
    border-radius: 50%;
    width:100%;
    height:100%;
    background-color: lightgray;
}
.userlist_menu{
    position: absolute;
    top:0px;
    left:0px;
    display: none;
    opacity: 1;
    width: 250px;
}
.userlist_menu_item{
    cursor: pointer;
}
.bt_start{
    position: absolute;
    height: 70px;
    width: 200px;
    display: none;
}
#userupboard{
    position: absolute;
    display:block;
    
}
.usupboard_item{
    position: absolute;
    transform-origin: 0% 0%;
    top:400px;
    left:400px;
}
.usupboard_video{
    position: relative;
    background-color: #444444;
    border-radius: 5px;
    width: 240px;
    height: 160px;
}
.usupboard_video video{
    width:100%;
    height: 100%;
}
.usupboard_video canvas{
    width:100%;
    height: 100%;
}
.usupboard_name{
    position: relative;
    height: 26px;
    color: #1b0a0a;
    padding: 2px;
    font-size: 16px;
    text-align: center;
    float: left;
    background-color: #CCCCCCAA;
    width: 100%;
}
.usupboard_video_button{
    position: absolute;
    bottom: 0px;
    right:0px;
    display: block;
    width: 100%;
    text-align: center;
}
.usupboard_video_info{
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#CCCCCC;
}
.usupboard_bt{
    position: relative;
    float: right;
    margin-right: 3px;
}
#myboard_tool{
    position: absolute;
    top:20px;
    right:10px;
}
#myboard_tools{
    width: 230px;
    left:-230px;
    top:60px;
    opacity: 1;
    border-radius: 10px;
}
#myboard_pen_tool{
    position: absolute;
    top:20px;
    right:10px;
    display:none;
    width: 50px;
}
.pen_tool{
    margin-top: 10px;
}
.dropdown-content li>a{
    color:green;
}
#myboard_color_tool{
    position: absolute;
    top: 20px;
    left: 60px;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
    background-color: #CCCCCC;
    display: none;
}
.bt_color{
    margin: 5px;
}
#myboard_color_picker{
    width: 100px;
    height: 30px;
    margin: 10px;
}
#myboard_control{
    position: absolute;
    bottom: 10px;
    left:50px;
    width:100%;
}
#myboard_control div{
    margin-left: 10px;
}
#interactive_control{
    position: absolute;
    bottom: 23px;
    width: 100px;
    text-align: center;
}
#interactive_control .btn-floating {
    margin-top: 23px;
}
#interactive_control span{
    font-weight: bold;
}

.quizz_frame{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    bottom: -5px;
    border-radius: 5px;
    z-index: 9999999;
}
.quizz_frame iframe{
    border: none;
    position: absolute;
    top: 5px;
    left: 5px;
    padding-right: 10px;
}
.quizz_frame_container{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:white;
}

#poll{
    position: absolute;
    display: none;
    z-index: 99999;
}
#poll_btClose{
    position: absolute;
    top:0px;
    right:0px;
}
#poll .card{
    border-radius: 10px;
}
#quick_poll{
    position: absolute;
    display: none;
}
.poll_row{
    position: relative;
    width: 100%;
}
.poll_edit{
    display: flex;
    align-items: center;
}
.poll_timer{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.poll_info span{
    margin-left: 8px;
    margin-right: 8px;
}
.poll_question{
    margin-top: 20px;
}
.poll_question_text{
    width: 100%;
    min-height: 50px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.poll_question_image{
    width: 100%;
    max-height: 150px;
    margin-bottom: 10px;
}
.poll_question_media{
    text-align: center;
    height: 0px;
}
.poll_question_image_bt{
    position: absolute;
    top: 2px;
    right:2px;
    display:none;
}
.poll_answer_type{
    position: relative;
    width: 100%;
}
.poll_answer_single_choice{
    display: block;
}
.single_choice_answer{
    width: 100%;
    margin-top: 5px;
}
.single_choice{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.single_choice_result{
    width: 100%;
    height: 6px;
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.single_choice_result .progress{
    margin:0px 0px 0px 5px;
}
.single_choice label{
    width:25px;
}

.single_choice_bt{
    flex-grow: 1;
    min-height: 50px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    text-shadow: 1px 1px #333333;
}
.poll_submit{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.poll_submit_info{
    display: none;
}
.poll_answer_true_false{
    height: 100px;
    display: none;
}
.true_false{
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}
.true_false_bt{
    width: 100%;
    height: 88px;
    border-radius: 4px;
    text-align: center;
    line-height: 88px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px #333333;
}

.poll_myresult{
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #30e430;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #333333;
}
.poll_total_result{
    background-color: white;
    display:none;
}
.poll_total_result_header{
    width: 100%;
}
.poll_total_result_footer{
    width:100%;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}
.poll_total_result_content{
    height:350px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.poll_total_result_header_singlechoice{
    
}
.total_result_circle{
    float: left;
    margin-left: 30px;
}


#award{
    position: absolute;
    display:none;
    width: 300px;
    height: 220px;
    z-index: 999999999;
}
#listuserall{
    position: absolute;
    width:340px;
    height:450px;
    bottom:30px;
    display:none;
    z-index: 999999999;
}


#myboard_menu_tool{
    position: absolute;
    background-color: white;
    padding-top: 6px;
    width: 50px;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;   
}
#myboard_menu_pen{
    position: absolute;
    background-color: white;
    border-radius: 16px;
    width: 200px;
    height: 50px;
    right: 10px;
    bottom: 10px;
}
#game{
    position: absolute;
    display: none;
    z-index: 99999;
}
#game_btClose{
    position: absolute;
    top:0px;
    right:0px;
}
#game .card{
    border-radius: 10px;
}