html {
    -ms-touch-action: none;
    height: 100%;
    -webkit-user-select: text;
    overflow: hidden;
}
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
@media only screen and (min-width: 640px) {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar {
        height: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
  }

@font-face {
    font-family: handwriting_font;
    src: url(HP001_5_hang_bold.ttf);
  }

@font-face {
    font-family: handwriting_font_z;
    src: url(HP0015HB.ttf);
}  
input[type="range"]::-webkit-slider-thumb{
    background: #666666;
}  
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    background-color: #c1cbd4;
}

#mnote_app{
    width: 100%;
    margin: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #c1cbd4;
    position: absolute;
    top:0px;
}
#mnote_menu{
    position: relative;
    width: 100%;
    height: 50px;
    top:0px;
    left:0px;
    z-index: 99;
    display: none;
    background-color: #c1cbd4;
}
#mnote_content{
    width: 100%;
    position: absolute;
    top:0px;
    background-color: #c1cbd4;
    overflow-x: hidden;
    overflow-y: scroll;
}
#mnote_container{
    width: 100%;
    height: 100%;
    transform-origin: 0% 0%;
    position: absolute;
    top:0px;
    
}
#mnote_pages{
    width: 100%;
    position: absolute;
    transform-origin: 0% 0%;

    position: absolute;
    top:0px;
}
#mnote_hold_bt{
    position: absolute;
    bottom: 10px;
    right:5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}
#mnote_hold_bt span{
    background: white;
    padding: 6px;
    font-weight: bold;
    border-radius: 10px;
}
#btn_hold_draw{
    pointer-events: all;
    margin-bottom: 5px;
    width:55px;
    height: 55px;
}
#mnote_menu_draw{
    position: absolute;
    right:5px;
    bottom:-3px;
    width:70px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#btn_draw_color{
    display: flex;
    justify-content: center;
    align-items: center;
}
#color_preview{
    width:24px;
    height:24px;
    border-radius: 50%;
    background-color: red;
    opacity: 0.4;
}
#mnote_menu_draw div{
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    transform-origin: 50% 50%;
    transform: scale(0.1);
}
#btn_draw_finish{
    text-align: center;
    color: red;
    margin-bottom: 5px;
    cursor: pointer;
}
#btn_draw_finish span{
    padding: 3px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    text-shadow: 1px 1px #CCCCCC;
}
#btn_hold_erase{
    position: absolute;
    left:110px;
    bottom: 10px;
}
.page{
    position: relative;
    margin-top: 5px;
    background-color: white;
    overflow: hidden;  
}
.page_bg{
    position: absolute;
    display: flex;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.page_canvas_draw{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
}
.page_objs_layer{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
}
#mnote_menu_color{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100%);
    padding: 10px;
    z-index: 9999;
    display: none;
}
#menu_color_content{
    position: absolute;
    width: calc(100% - 20px);
    max-width: 600px;
    min-height: 300px;
    bottom: 10px;
    right:10px;
    transform: scale(0.1);
}
#mnote_pages_content{
    position: absolute;
    transform: scale(0.6);
    transform-origin: 0% 0%;
    
}
#color_content_brush{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#color_content_brush span{
    margin-right:4px;
}
#color_content_color{
    margin-top: 10px;
}
#color_content_color div{
    margin-left:20px;
    margin-top:10px;
    margin-bottom: 10px;
}
#color_content_thick{
    height: 80px;
    margin: 20px;
}
#thick_preview{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid;
    border-color: #CCCCCC;
}
#btn_thick_preview{
    width:10px;
    height:10px;
}
#thick_slider{
    float: left;
    width: calc(100% - 60px);
    height: 40px;
    margin-left: 20px;
}
#bt_trash{
    position: absolute;
    display: none;
    left: calc(50% - 30px);
    top:10px;
    opacity: 0.7;
    pointer-events: none;
}
#mnote_help{
    position: absolute;
    left:5px;
    bottom: 10px;
    display: none;
    flex-direction: column;
}
#mnote_help span{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #CCCCCC;
    margin-bottom: 5px;
    position: relative;
    font-weight: bold;
}
#help_finish_draw{
    display:none;
}

#mnote_menu_bottom{
    width: 100%;
    height: 105px;
    background-color: black;
    z-index: 99999;
    position: absolute;
    bottom: 0px;
    display: none;
    
}
#menu_bottom_1{
    height: 50px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 10px;
}
#menu_bottom_slider{
    position: relative;
    float: left;
    width:150;
    margin-right: 20px;
}
.thumb{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 0px
}
#menu_bottom_option{
    position: relative;
    float: left;
    width: calc(100% - 180px);
    margin-right: 10px;
    overflow-x: scroll;
}
#option_draw{
    width:250px;
}
#option_text{
    width:250px;
}
#menu_bottom_2{
    height: 40px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}
#menu_bottom_2_content{
    height: 40px;
    width: 700px;
    padding-left: 42px;
}
.btn-color-bottom {
    position: relative;
    float: left;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
   /* border: solid 1px #CCCCCC;*/
    border-radius: 50%;
}
.btn-color-bottom-small{
    width:28px!important;
    height:28px!important;
}
#menu_bottom_preview_draw , #menu_bottom_preview_text{
    position: absolute;
    bottom: 4px;
    left: 0px;
    background-color: black;
    z-index: 99;
    padding-left: 4px;
}
#preview_draw , #preview_text{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #CCCCCC;
    border-radius: 50%;
}
#menu_bottom_preview_draw{
    display: block;
}
#menu_bottom_preview_text{
    display: none;
}
#menu_bottom_close , #menu_text_close{
    position: absolute;
    top: -42px;
    right: -8px;
    background-color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    color: white;
    border-radius: 4px;
}
#mnote_menu_text{
    position: fixed;
    top:0px;
    background-color: black;
    height: 50px;
    width: 100%;
    display: none;
}
#menu_text_color{
    padding-left: 175px;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
}
#menu_text_color_content{
    height: 40px;
    width: 700px;
    margin-top: 5px;
}
.btn-color-text{
    position: relative;
    float: left;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
   /* border: solid 1px #CCCCCC;*/
    border-radius: 50%;
}
#menu_text_option{
    position: absolute;
    top: 0px;
    width: 180px;
    height: 100%;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
}
#menu_text_slider{
    width: 100%;
    position: absolute;
    top: 45px;
    left: 93px;
    display: none;
    align-items: center;
}
#mnote_mark{
    position: absolute;
    width:900px;
    padding:10px;
    top: 500px;
    transform-origin: 0% 0%;
    transform: scale(0.83);
    display: block;
    z-index: 999999;
}
#mnote_mark_point{
    border: solid 2px red;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
}
#mnote_mark_number{
    float: left;
    width:35%;
    min-height: 300px;
    height: 100%;
    border-right: solid 2px red;
}
#mnote_mark_comment{
    float: left;
    width: 65%;
    height: 100%;
    min-height: 300px;

}
#mark_number_txt{
    border: none;
    /*font-family: 'handwriting_font';*/
    color: red;
    font-size: 150px;
    height: 150px;
    text-align: center;
    margin-top: 25px;
}
#mark_comment_txt{
    text-align: left;
    font-size: 39px;
    font-weight: bold;
    color: red;
    font-family: 'handwriting_font_z';
    padding-left: 20px;
    margin-top: 20px;
    height:200px;
    border:none
}
#mnote_mark_chose{
    width:100%;
    margin-top: 20px;
    display: block;
    height: 526px;
}
.btn-mark-chose{
    float: left;
    width: 140px;
    height: 140px;
    margin-left: 27px;
    margin-top: 27px;
}
.btn-mark-chose-bt{
    width: 130px;
    height: 130px;
}
.btn-mark-chose-bt span{
    color: gray;
    font-size: 63px;
    font-weight: bold;
    left: 44px;
    top: 44px;
    position: absolute;
}
#mnote_mark_result{
    margin-top: -24px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'handwriting_font';
    font-size: 33px;
}
/*#img_correct{
    position: absolute;
    left:-5px;
}
#img_wrong{
    position: absolute;
    left:-5px;
}*/

#btn_save_data{
    width: 100%;
    height: 120px;
    margin-top: 50px;
    font-size: 40px;
}
.obj_static_text{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mnote_answer{
    width: 100%;
    height: 100%;
    position: absolute;
    top:450px;
    background-color: red;
    border: solid 2px red;
    border-radius: 10px;
    padding-top: 5px;
    display: none;
}
#mnote_answer_content{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#mnote_answer_bt{
    position: absolute;
    top: -34px;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: -4px;
}
