*:focus-within{
  outline: none;
}
.img-container #cropper-image{
  max-width: 100%;
}

#loadingIcon{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 5px 10px;
  background-color: red;
}
.changeLabel{
  display: initial!important;
  margin-bottom: 0;
}

.__tpl_website_logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px!important;
}

#testbank-iframe{
  width: 100%;
}

/* #__tpl_exam_iframe {
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
} */

#__tpl_exam_iframe img{
 width: 100%;
}
